* {
    font-family: "Jockey One", sans-serif;
    margin: 0;
    box-sizing: border-box;
}


.quizContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px;
    max-width: 375px;

    margin: 0 auto; 
}



.quizHeader{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    width: 100%;
}

.toHomePageContainer {
    position: relative;
    color: white;
    width: 46px;
    height: 40px;
    background-color: #7E6DCD;
    border-radius: 15px;
    border: 2px solid #7E6DCD;
    font-size: 28px;
    text-align: center;
    align-items: center;
    
}

.toHomePage {
    position: absolute;
    left: 7px;
    top: 5px;
    
}

.toHomePageContainer:hover{
    opacity: 60%;
    box-shadow: -4px 4px 4px rgba(190, 183, 220, 0.9);
}

.toHomePageContainer:active{
    background-color: #4128AC;
    box-shadow: 0px 4px 4px rgba(65, 40, 172, 1) inset ;
}


.topic {
    position: absolute;
    left: 40%;
    font-weight: 350;
    font-size: 32px;
    text-align: center;
}


.textContainer {
    margin-left: 30px;
    font-size: 32px;
    width: 100%;
    max-width: 100%;
    align-items: center;
}

.textContainer :first-child {
    font-size: 14px;
    margin-top: 34px;
}

.textContainer :nth-child(2) {
    margin-top: 10px;
}

.textContainer :last-child{
    max-width: 60%;
    word-wrap: break-word;
    white-space: normal;
    max-width: 375px;

}


.answersContainer {
    margin: 32px 30px 30px;
}

.answers {
    display: flex;
    flex-direction: column;

    width: 315px;
    height: 85px;
    max-width: 315px;
    margin-bottom: 10px;

    font-size: 29px;
    text-decoration: none;

    padding: 18px 20px;
    border-radius: 10px;
    border: 3px solid #4128AC;
    align-items: center;
    cursor: pointer;
}

.answers:hover {
    background-color: #7E6DCD !important;
    box-shadow: -4px 4px 10px rgba(126, 109, 205, 90%);
}

.answers:active {
    background-color: #3e2585;
    transform: scale(0.98);
}

.forward {
    background-color: black;
    color: white;
    width: 315px;
    height: 45px;
    border-radius: 10px;
    margin-left: 30px;
    cursor: pointer;
    margin-bottom: 130px;
    font-size: 24px;
    border: 3px solid black;
}

.forward:hover {
    opacity: 75%;
}

.forward:active {
    opacity: 90%;
}

.result {
    background-color: black;
    color: white;
    width: 315px;
    height: 45px;
    border-radius: 10px;
    margin-left: 30px;
    cursor: pointer;
    margin-bottom: 130px;
    font-size: 24px;
    border: 3px solid black;
}


.result:hover {
    opacity: 75%;
}

.result:active {
    opacity: 90%;
}